
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    width: 100vw;
    height: 100vh;
    padding: 30xp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at top right, rgb(16,16,16) 0%, rgb(16,16,16) 28%,rgb(21,21,21) 28%, rgb(21,21,21) 45%,rgb(32,32,32) 45%, rgb(32,32,32) 63%,rgb(37,37,37) 63%, rgb(37,37,37) 100%);
}
h1{
    font-size: 45px;
    color: #ffffff;
}
section.data{
    width: 100%;
    position: absolute;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.hora{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section.hora article.painel{
    font-size: 6rem;
    width: 230px;
    height: 230px;
    margin: 0 26px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFF09;
}
section.hora p.p{
    font-size: 5rem;
    color: #ffffff;
}

@media only screen and (max-width: 1200px){

    h1{
        font-size: 45px;
    }
    
}
@media only screen and (max-width: 992px){

    h1{
        font-size: 40px;
    }
    
}
@media only screen and (max-width: 768px){

    h1{
        font-size: 33px;
    }
    
}
@media only screen and (max-width: 600px){

    h1{
        font-size: 27px;
    }
    
}